<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

xmlns:context="http://www.springframework.org/schema/context"

xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
">
<!-- <context:annotation-config/> -->
<context:component-scan base-package="service"></context:component-scan>

<bean id="man" class="service.impl.Man">
<property name="username" value="张三"></property>
</bean>
<bean id="woman" class="service.impl.Woman">
<property name="username" value="小丽"></property>
</bean>

<!-- <bean id="lover" class="service.Lover">
<property name="man" ref="man"></property>
<property name="woman" ref="woman"></property>
</bean> -->

<bean id="studentService" class="service.StudentService">
<property name="person" ref="woman"></property>
</bean>
</beans>